aiofiles==0.7.0
aiosqlite==0.17.0
alembic==1.7.4
anyio==3.3.4
asgiref==3.4.1
asyncpg==0.24.0
click==8.0.3
databases==0.5.3
fastapi==0.70.0
greenlet==1.1.2
h11==0.12.0
idna==3.3
Mako==1.1.5
MarkupSafe==2.0.1
ormar==0.10.22
psycopg2-binary==2.9.1
pydantic==1.8.2
python-multipart==0.0.5
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.25
starlette==0.16.0
typing-extensions==3.10.0.2
uvicorn==0.15.0
python-jose==3.3.0
passlib[bcrypt]==1.7.4